table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

th {
  background-color: #9aa966;
  /* background-color: #144b24; */
  /* background-color: #ffcc00; */
}

h2 {
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

.table-section {
  flex: 1;
  margin: 0 10px;
}

#TableContainers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#TableContainers>div {
  width: 50%;
}

#TableContainers>div h4 {
  margin-bottom: 10px;
}

.productsApplications {
  padding: 4rem 4rem;
}

.processServices {
  padding: 0rem 4rem;
}

.MittalCardContainer {
  padding: 2rem 0rem;
}

.HoverImageContainer {
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 50vh;
  transition: 0.5s;
  
}

.HoverRow {
  display: flex;
  border-bottom: 1px solid black;
  padding: 2rem 0rem;
}

.MittalCardContainer .HoverRow:hover .HoverImageContainer {
  width: 100%;
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* height: 50vh; */
  transition: 0.5s;
  border-radius: 20px;
}
.MittalCardContainer .HoverRow:hover .HoverImageContainer img{
  border-radius: 20px;
  
  transition: 0.5s;
}
.MittalCardContainer .HoverContent {
  width: 100%;
  transition: 0.5s;
  padding: 0rem 4rem;
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .HoverImageContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 50vh;
    transition: 0.5s;
  }

  .MittalCardContainer .HoverContent {
    width: 100%;
    transition: 0.5s;
    padding: 0rem 0rem;
    display: flex;
    align-items: center;
  }

  .HoverRow {
    display: flex;
    border-bottom: 1px solid black;
    padding: 2rem 0rem;
    flex-direction: column;
  }

  table {
    width: 100% !important;
  }

  #ProductPage {
    padding: 0rem 0rem;
  }

  #TableContainers>div {
    width: 100%;
  }

  #TableContainers>div h4 {
    margin-bottom: 10px;
    text-align: center;
  }

  .processServices {
    padding: 2rem 1rem;
  }

  .productsApplications {
    padding: 4rem 1rem;
    padding-bottom: 0rem;
  }
}

.productTitle::first-letter {
  color: #9aa924;
}

.productCard {
  width: 400px;
  background-color: red;
  margin: 10px;
  padding: 10px;
}