/* Marquee container styling */
.marquee-container {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid #ccc; */
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

/* Marquee text animation */
.marquee-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
}

.marquee-item {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    color: #333;
    font-weight: 300;
}

.marquee-item::before {
    content: "";
    /* This creates the pseudo-element */
    display: inline-block;
    height: 10px;
    /* Adjust size of the dot */
    width: 10px;
    /* Adjust size of the dot */
    border-radius: 50%;
    background-color: #9aa966;
    margin-left: 10px;
    /* Space between text and dot */
    margin-right: 10px;
}

/* Keyframes for scrolling effect */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.ProductContentContainer {
    padding: 2rem 4rem;
}

.StackContainersEdit>div:first-child img {
    max-width: 100%;
    height: auto;
    position: sticky;
    border-radius: 10px;
    top: 30%;
}
.ColumnContainer div{
    padding: 1rem 2rem;
}
.ColumnContainer img{
    width: 100%;
    border-radius: 10px;
}

/* .min-img{
    display: flex;
    height: 150px;
    width: 150px;
    align-items: flex-end;

} */