.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 50px; */
  /* align-items: center; */
}
.contact-details-row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactTitle::first-letter {
  color: #9aa924;
}
.contact-form{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.iconContainer {
  display: flex;
}
.contactContainer {
  padding: 0rem 3rem;
}
.contactContainer{
  padding-top: 9rem !important;
}
.contact-form .ant-col{
  display: flex;
}
@media (min-width: 1300px) and (max-width: 3000px) {
  .contactContainer {
    padding: 0rem 9rem;
  }
}
@media (max-width: 576px) {
  .contactContainer {
    padding: 0rem 1rem;
  }
}
