.navigationPanel {
  width: 100%;
  background-color: white;
  /* background-image: url("./Navigationbackground.jpg"); */
  background-size: cover;
  backface-visibility: 0.4;
  position: absolute;
  transition: 0.5s;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  backdrop-filter: blur(47px);
}

/* Navbar.css */
.MSLNavigationContainer {
  position: fixed;
  z-index: 555555;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0px;
  transition: background-color 0.3s ease;
  height: 10vh;
}

.transparent {
  background-color: transparent;
  /* background-color: rgb(242, 242, 242); */
  /* padding: 20px 0px; */
  transition: 0.5s;
  height: 10vh;
}

.redBackground {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  /* padding: 5px 0px; */
  transition: 0.5s;
}

.navigationPanel.show {
  height: 10vh;
  width: 100vw;
  transition: 0.5s;
  z-index: 9;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 12rem;
  background-image: url('/images/4916671.jpg');
  background-size: cover;
  background-position: left right;
  /* top: 0px; */
  /* left: 0; */
  /* Slides in */
}

.navigationPanel ul {
  display: flex;
  position: relative;
}

.navigationPanel.hide {
  height: 10vh;
  width: 0vw;
  /* bottom: 0vh; */
  transition: 0.5s;
  z-index: 9;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: unset;
  /* right: 100%; */
  /* Slides out */
}

.MSLNavigationContainer button {
  /* position: fixed; */
  cursor: pointer;
  background-color: black;
  border: 1px solid #9aa966;
  top: 20px;
  right: 20px;
  padding: 13px 20px;
  /* color: #ffcc00; */
  color: #9aa966;
  border-radius: 20px;
  text-transform: uppercase;
  z-index: 10;
}

.navigationPanel a {
  list-style: none;
  font-size: 20px;
  margin: 0px 20px;
  padding: 40px 0px;
  cursor: pointer;
  color: #000000;
  /* margin-left: 100px; */
}

.navigationPanel a:hover {
  color: #9aa966;
}

.navigationPanel a + hr {
  width: 0px;
  opacity: 0;
  margin: 0px;
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 100px;
  display: none;
}

.MSLShape {
  /* background-color: #ffcc00; */
  background-color: #9aa966;
  border: 2px solid black;
  width: 50px;
  height: 20px;
  position: absolute;
  rotate: -45deg;
  left: 0px;
  display: none;
}

.overlayBackImage img {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  opacity: 0.1;
  display: none;
}

.logoContainer {
  z-index: 1000000000;
  border-radius: 30px;
}

.logoContainer img {
  width: 150px;
}

@media (max-width: 798px) {
  .logoContainer img {
    width: 100px;
  }

  .transparent {
    background-color: transparent;
    padding: 0px 0px;
    transition: 0.5s;
  }

  .overlayBackImage img {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100vh;
    opacity: 0;
  }

  .navigationPanel a {
    list-style: none;
    font-size: 25px;
    margin: 0px 0px;
    margin-left: 0px;
  }

  .navigationPanel.show {
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
    z-index: 9;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
    background-image: none;
    /* top: 0px; */
    /* left: 0; */
    /* Slides in */
  }

  .navigationPanel ul {
    display: flex;
    flex-direction: column;
  }

  .navigationPanel.hide {
    height: 100vh;
    width: 0vw;
    /* bottom: 0vh; */
    transition: 0.5s;
    z-index: 9;
    position: fixed;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* right: 100%; */
    /* Slides out */
  }

  .MSLShape {
    /* background-color: #ffcc00; */
    background-color: #9aa966;
    border: 2px solid black;
    width: 50px;
    height: 20px;
    position: absolute;
    rotate: -45deg;
    left: 0px;
    display: block;
  }
}

/* Initially hide the dropdown */
/* Dropdown initially hidden and positioned off-screen */
.DropdownComponent {
  visibility: hidden;
  transform: translateY(20px);
  /* Start slightly below */
  transition: opacity 0.3s ease, transform 0.3s ease;
  min-height: 10vh;
  min-width: 200px;
  background-color: white;
  position: absolute;
  top: 54px;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  left: 0px;
  right: 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* On hover, show the dropdown with a smooth transition */
.aboutLinkWrapper:hover .DropdownComponent {
  visibility: visible;
  /* display: block; */
  transform: translateY(27px);
  /* Move to original position */
}
.navigationPanel.hide .DropdownComponent {
  visibility: hidden;
}
.aboutLink:hover {
  color: #9aa966;
  text-decoration: underline;
}

.DropdownComponent img {
  width: 100%;
  border-radius: 10px;
}

.ImageContainer {
  width: 100%;
}

.subLinkContainer {
  width: 100%;
}

.subLinkContainer ul {
  display: flex;
  flex-direction: column;
}

.subLinkContainer ul li {
  padding: 10px 0px !important;
  cursor: pointer;
}

.subLinkContainer ul li a {
  padding: 0px !important;
}
.about {
  /* left: -100px; */
}
.product {
  /* right: -100px; */
}

@media (max-width: 769px) {
  .DropdownComponent {
    /* top: 70px; */
    top: 70%;
    width: 300px;
    left: -50px;
    flex-direction: column;
  }

  .aboutLinkWrapper:hover .DropdownComponent {
    /* transform: translateY(200px); */
    transform: translateY(10px);

    /* transform: translateX(0px); */
    /* top: 50px; */
  }
  .DropdownComponent .ImageContainer {
    display: none;
  }
  .aboutLinkWrapper:hover .about {
    transform: translateY(-150px);
  }
  .aboutLinkWrapper:hover .infra {
    transform: translateY(30px);
  }
  .aboutLinkWrapper:hover .product {
    transform: translateY(-30px);
  }
}
