.navbar {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  background: transparent;
}
.logo {
  width: 100px;
  cursor: pointer;
  /* margin-left: 100px; */
  z-index: 100;
  margin: 10px 20px;
}
.navbar-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* gap: 20px; */
  color: rgb(227, 184, 10);
  font-size: 9rem;
  cursor: pointer;
  /* margin-right: 100px; */
  letter-spacing: 1px;
  padding: 10px 40px;
}
.nav-toggler {
  background: transparent;
  color: rgb(53, 62, 71);

  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 20;
  position: relative;
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  background-color:#0e1111;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.7s ease, transform 0.7s ease;
  transform: translateY(-100%);
}

.nav-menu.open {
  opacity: 1;
  transform: translateY(0%); /* Slide in from right */
}
.nav-menu.open {
  transform: none;
}
@media (max-width:576px){
    .navbar-menu{
        font-size: 3.4rem;
        padding: 10px 20px;
    }
    .navbar-menu li{
        padding: 20px 0;
    }
}