.navigationPanel {
  width: 100%;
  background-color: white;
  /* background-image: url("./Navigationbackground.jpg"); */
  background-size: cover;
  backface-visibility: 0.4;
  position: absolute;
  transition: 0.5s;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(47px);
}
.MittalNavigationContainer{
  position: fixed;
  z-index: 555555;
}
.navigationPanel.show {
  height: 100vh;
  transition: 0.5s;
  z-index: 9;
  position: fixed;
  /* Slides in */
}

.navigationPanel.hide {
  height: 0vh;
  bottom: 0vh;
  transition: 0.5s;
  z-index: 9;
  position: fixed;
  /* Slides out */
}

.MittalNavigationContainer button {
  position: fixed;
  cursor: pointer;
  background-color: black;
  border: none;
  top: 20px;
  right: 20px;
  padding: 13px 20px;
  /* color: #ffcc00; */
  color: #9aa966;
  border-radius: 20px;
  text-transform: uppercase;
  z-index: 10;
}

.navigationPanel a {
  list-style: none;
  font-size: 40px;
  margin: 0px 0px;
  cursor: pointer;
  color: #000000;
  margin-left: 100px;
}

.navigationPanel a+hr {
  width: 0px;
  opacity: 0;
  margin: 0px;
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 100px;
}

.navigationPanel a:hover+hr {
  width: 200px;
  opacity: 1;
  background-color: #000000;
  border: 1px solid #000000;

  transition: 0.5s;
  margin: 0px;
  margin-left: 100px;
}

.MittalShape {
  /* background-color: #ffcc00; */
  background-color: #9aa966;
  border: 2px solid black;
  width: 50px;
  height: 20px;
  position: absolute;
  rotate: -45deg;
  left: 0px;
}
.overlayBackImage img{
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  opacity: 0.1;
}

@media (max-width:798px) {
  .overlayBackImage img{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100vh;
    opacity: 0;
  }
  
  .navigationPanel a {
    list-style: none;
    font-size: 25px;
    margin: 0px 0px;

    margin-left: 60px;
  }
}