.Mittal-gallery-image{
    width: 100%;
}
#MittalGalleryContainer{
    padding: 0rem 3rem ;
    padding-top: 9rem !important;
}

@media (min-width:1300px) and (max-width:3000px){
    #MittalGalleryContainer{
        padding: 2rem 9rem;
    }
}
@media (max-width:576px){
    #MittalGalleryContainer{
        padding: 2rem 1rem;
    }
}
#MittalGalleryContainer h2{
    padding: 10px 0;
}

#MittalGalleryContainer p{
    margin: 0px;
}
