.MSL-gallery-image{
    width: 100%;
}
#MSLGalleryContainer{
    padding: 0rem 3rem ;
    padding-top: 9rem !important;
    padding-bottom: 1rem;
}

@media (min-width:1300px) and (max-width:3000px){
    #MSLGalleryContainer{
        padding: 2rem 9rem;
    }
}
@media (max-width:576px){
    #MSLGalleryContainer{
        padding: 2rem 1rem;
    }
}
#MSLGalleryContainer h2{
    padding: 10px 0;
}

#MSLGalleryContainer p{
    margin: 0px;
}
