
.ClientsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
  
}

.ClientsContainer img {
  width: 70%;
  aspect-ratio: 3/2;
  margin: 0px;
  object-fit: contain;
  border-radius: 4px;
  transition: 0.5s;
}

.ClientsContainer img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#ImageContainerLogo {
  border: 1px solid rgb(231, 231, 231);
  margin: 5px;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

#ImageContainerLogo:hover {
  border: 1px solid #9aa966;
  margin: 5px;
  transition: 0.5s;
  border-radius: 10px;
}
.ClientContainerSet {
  padding: 0rem 3rem;
  padding-top: 9rem !important;
}
@media (max-width: 769px) {
  .ClientContainerSet {
    padding: 0rem 0.5rem;
  }
  #ImageContainerLogo:hover {
    border: 1px solid #9aa966;
    margin: 0px;
    transition: 0.5s;
  }
  #ImageContainerLogo {
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 200px;
  }

  .ClientsContainer .ant-row .ant-col {
    width: 50%;
  }
  .ClientsContainer img {
    width: 70%;
    aspect-ratio: 3/2;
    margin: 0px;
    object-fit: contain;
    border-radius: 4px;
    transition: 0.5s;
  }

  .ClientsContainer {
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
  }
}
