#QualitySection {
  padding-top: 9rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.QualityContent {
  padding: 0rem 4rem;
}

.qualityCard {
  /* background-color: #bbbbbb; */
  background-color: rgb(231 231 231 / 13%) !important;
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px 50px; */
  margin: 1rem 0;
  min-height: 30vh;
  text-align: center;
  transition: .5s;
}

.qualityCard:hover .CardContent {
  background-color: #eeeeee;

  transition: .5s;

}

.qualityCard:hover .qualityIconContainer img {
  transform: scale(1.1);
  transition: .5s;
}

.qualityCard h3 {
  padding: 5px 0;
  text-align: start;
}

.qualityCard p {
  padding: 0;
  text-align: start;
}

.qualityIconContainer {
  width: 100%;
  overflow: hidden;

}

.qualityIconContainer img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  transition: .5s;
}

.CardContent {
  padding: 40px 30px;
  transition: .5s;
}

#QualitySection hr {
  border: 0.2px solid rgba(64, 64, 64, 0.355);
}

.RowAdjustQuality {
  padding: 50px 0px;
}

.RowClass {
  margin-bottom: 30px;
}

.ShowCaseBannerContainer {
  position: relative;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}

.ShowCaseBannerContainer img {
  width: 100%;
  background-position: 0px 0px, 50% 50%;
}

.OverlayBanner {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.OverlayContent {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
}

.OverlayContent div {
  text-align: center;
  color: white;
}

.BottomContainer {
  position: absolute;
  bottom: 0px;
  height: 20%;
  background-color: transparent;
  border-top: 1px solid white;
  width: 100%;
}

.FitContentImage {
  display: flex;
  justify-content: center;
}


@media (max-width: 769px) {

.OverlayContent {
  width: 98%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
}
  .FitContentImage {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  #QualitySection {
    padding-top: 9rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .QualityContent {
    padding: 0;
  }
}