.cardImageContainer {
  width: 100%;
}

.cardImageContainer img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 100%;
}

.cardComponent {
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px 30px;
}

.cardComponent p {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.7s ease-in-out, max-height 0.7s ease-in-out;
}

.cardComponent h1 {
  text-align: center;
}

.cardComponent:hover p {
  max-height: 500px;
  opacity: 1;
}

.cardComponent p {
  padding: 10px;
}

.AboutUsimagesStyle img {
  width: 600px;
  border-radius: 5px;
  border: 3px solid #9aa966;
}

.AboutUsimagesStyle {
  padding-right: 2rem;
}

.AboutUsParagraph {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.AboutUsParagraph div {
  margin: 20px 0px;
}

.valueCard {
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: #ffcc00;
  overflow: hidden;
}

.valueCard h1 {
  width: 20%;
}

.valueCard p {
  opacity: 0;
  visibility: hidden;
}

.valueCard:hover p {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

.AboutUsSection {
  background-color: white;
  position: sticky;
  padding: 2rem 4rem;
}

.OutMV {
  padding: 2rem 4rem;
  background-color: black;
  color: white;
  position: sticky;
  background-image: url("/src/Component/AboutUs/MVbackl.JPG");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.OutMV h1 {
  color: white;
}

.OutMV .HeadingContainer {
  border-left: none;
  padding: 0rem 0rem;
}

.OutMV .HeadingContainer h2 {
  color: white;
  width: 50%;
}
.OutMV .HeadingContainer::before {
  animation: none !important;
  position: unset;
}
.MissionVisionParent {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0rem;
}

.MissionVisionParent > div {
  width: 100%;
  border-left: 2px solid rgb(255, 255, 255);
  padding-left: 2rem;
}

.MSLShape {
  height: 10px;
  width: 30px;
  display: block;
  background-color: #9aa966;
  border: 1px solid black;
  margin-right: 30px;
}

.MSLValuesCards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.ValueCard {
  width: 25%;
  overflow: hidden;
}

.AnimatedCards {
  margin: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.animatedcardcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AnimatedCards:last-child,
.AnimatedCards:first-child {
  margin-right: 0px;
}

.AnimatedCards:hover {
  border-radius: 4px;
  transition: 0.5s;
}

.AnimatedCards h2 {
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  z-index: 5;
  padding: 10px;
}
.AnimatedCards h2 {
  font-weight: 600;
}

.AnimatedCards img {
  width: 50px;
  height: 50px;
  transition: 0.5s;
  object-fit: cover;
  opacity: 0.9;
  padding: 20px 10px;
}

.AnimatedCards:hover img {
  transform: scale(1.1);
  transition: 0.5s;
  opacity: 1;
  opacity: 1;
}

.AnimatedCards .BlackOverlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 4;
  transition: 1s;
  transition: 0.7s;
}

.AnimatedCards:hover .BlackOverlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 4;
  transition: 0.7s;
}

.AboutusContainer {
  margin: 20px 0px;
}

.AboutusContainer h2::first-letter {
  color: #9aa924;
}

.AboutusContainer h2 {
  font-size: 40px;
}

#CollapseEdit {
  padding: 2rem 0rem;
}

.TopcontainerPart {
  height: 70vh;
  overflow: hidden;
  margin: px 0px;
  position: sticky;
}

.backimageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.backimageContainer img {
  width: 100%;
}

.ContentContainerAdjust {
  height: 100%;
  width: 80%;
  position: absolute;
  z-index: 555;
  display: flex;
  align-items: center;
}

.ContentContainerAdjust h1 {
  color: white;
}

.ContentContainerAdjust p {
  color: white;
}

.InsideTop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MissionVisionParent h2,
.MissionVisionParent p {
  color: white;
}

.WhyChooseSection p:first-child {
  margin-top: 0px;
  text-transform: uppercase;
}

.FounderInfo {
  padding: 20px 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.BackImageOverlay img {
  position: absolute;
  width: 60% !important;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.founderSlider {
  height: 600px;
  overflow: hidden;
}
.founderSlider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.founderSlider .swiper-slide img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}
@media (max-width: 576px) {
  .MissionVisionParent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0rem;
    flex-direction: column;
  }

  .MissionVisionParent > div {
    width: 90%;
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 1rem;
    margin: 20px 0px;
  }

  .OutMV {
    padding: 2rem 1dvb;
    background-color: black;
    color: white;
    position: sticky;
    background-image: url("/src/Component/AboutUs/MVbackl.JPG");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .OutMV .HeadingContainer h2 {
    color: white;
    width: 100%;
  }

  .TopcontainerPart {
    height: 40vh;
    overflow: hidden;
    margin: 0px;
    position: sticky;
    top: 0px;
  }

  .AboutUsimagesStyle {
    padding: 0px;
  }

  .AnimatedCards:last-child,
  .AnimatedCards:first-child {
    margin: 5px;
  }

  .AnimatedCards {
    height: 20vh;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }

  .ValueCard {
    width: 100%;
    overflow: hidden;
  }

  #CollapseEdit {
    padding: 1rem 0rem;
  }
  .AboutUsSection {
    padding: 2rem 1rem;
  }

  #TableContainers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #TableContainers > div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .AboutUsimagesStyle {
    padding: 0px;
  }

  .AboutUsimagesStyle > div {
    margin-left: 0px !important;
  }

  .cardComponent p {
    opacity: 1;
    overflow: visible;
    max-height: 100px;
    font-size: 1.2rem;
  }

  .backimageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: normal;
  }
}

.foundersImage .founderSlider {
  border-radius: 10px;
}

.founderSlider .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

@supports (-webkit-overflow-scrolling: touch) {
  .OutMV {
    background-attachment: local;
  }
}
@media (max-width: 576px) {
  .founderSlider {
    width: 100%;
  }
  .founderSlider .swiper-slide img {
    height: 100%;
    width: 100%;
  }

  #founderSlides {
    height: 300px !important;
  }
}
