.ImagesContainer {
  display: block;
  width: 100%;
  height: 50vh;
  position: relative;
}

.ImagesContainer img {
  width: 50%;
  /* height: 100%; */
  z-index: 1;
}

.numbers-container
  .ant-row
  .ant-col:nth-child(1)
  .ImagesContainer
  img:nth-child(1) {
  position: absolute;
  left: 50px;
  top: 0px;
  height: 100px;
  width: 400px;
  object-fit: contain;
}

.numbers-container
  .ant-row
  .ant-col:nth-child(1)
  .ImagesContainer
  img:nth-child(2) {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 300px;
  width: 350px;
  border: 8px solid white;
  object-fit: contain;
}
.ImagesContainer h1 {
  z-index: 100;
  /* position: absolute; */
  /* left: 100px; */
}
.firstNumber {
  position: absolute;
  top: 0;
  left: 400px;
}
.secondNumber {
  position: absolute;
  left: 20px;
}
