.numbers-container{
  padding-bottom: 0rem;
}
.ImagesContainer {
  display: block;
  width: 100%;
  height:500px;
  position: relative;
}

.ImagesContainer img {
  width: 60%;
  /* height: 100%; */
  z-index: 1;
}

.numbers-container
  .ant-row
  .ant-col:nth-child(1)
  .ImagesContainer
  img:nth-child(1) {
  position: absolute;
  left: 50px;
  top: 0px;
  height: 100px;
  width: 400px;
  object-fit: contain;
}

.numbers-container
  .ant-row
  .ant-col:nth-child(1)
  .ImagesContainer
  img:nth-child(2) {
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* height: 300px; */
  /* width: 350px; */
  /* width: 60%; */
  border: 8px solid white;
  object-fit: contain;
}

.ImagesContainer h1 {
  z-index: 100;
  /* position: absolute; */
  /* left: 100px; */
}

.firstNumber {
  position: absolute;
  top: 0;
  right: 15%;
  top: 10%;
}

.secondNumber {
  position: absolute;
  left: 13%;
  bottom: 15%;
}

.rightSideContainerContent {
  padding-left: 2rem;
}

.secondNumber h4,
.firstNumber h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.secondNumber h1,
.firstNumber h1 {
  color: #9aa966;
  font-size: 40px;
}

.rightSideContainerContent ul {
  /* padding: 0px; */
  display: flex;
  flex-wrap: wrap;
}

.rightSideContainerContent ul li {
  padding: 0px;
  width: 100%;
  margin: 10px 0px;
  list-style: none;
  position: relative;
  font-weight: 500;
}

.rightSideContainerContent ul li::before {
  content: "\2713";
  /* Unicode for checkmark */
  background-color: #9aa966;
  height: 15px;
  width: 15px;
  position: absolute;
  left: -25px;
  top: 5px;
  border-radius: 50%;
  color: white;
  /* Adjust color to make the checkmark visible */
  text-align: center;
  /* Center the checkmark */
  line-height: 13px;
  /* Align checkmark vertically */
  font-size: 13px;
  /* Adjust font size */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
@media (max-width: 576px) {
  .secondNumber {
    left: 5%;
    /* padding-left: 2rem; */
    bottom: 15%;
  }
  .firstNumber {
    right: 10%;
    top: 15%;
  }
  .ImagesContainer {
    height: 400px;
  }
  .rightSideContainerContent {
    width: 100%;
    padding-left: 0.5rem;
    padding-top: 1rem;
  }
  .numbers-container
    .ant-row
    .ant-col:nth-child(1)
    .ImagesContainer
    img:nth-child(2) {
    width: 60%;
  }
}
@media (max-width:500px)
{
  .ImagesContainer {
    height: 40vh;
  }
  .ImagesContainer img{
    width: 50%;
  }
  .numbers-container
    .ant-row
    .ant-col:nth-child(1)
    .ImagesContainer
    img:nth-child(2) {
    width: 50%;
  }
}
@media (max-width:450px){
  .ImagesContainer{
    height: 350px;
  }
}
@media (max-width:400px)
{
  .ImagesContainer{
    height: 300px;
  }
}