
.img-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    overflow-x: scroll;
}

.img-gallery img {
    width: 600px;
    height: 700px;
    object-fit: cover;
}