.RightSideContainerContent h3 {
    font-weight: 500;
}

#CardContainer h2::first-letter {
    color: #9aa966;
}

#CardContainer img {
    width: 70%;
    margin-top: 3rem;
    border-radius: 10px;
    /* background-color: #9aa966; */
}
#CardContainer{
    margin: 3rem 0rem;
    border-bottom: 1px solid #144b24;
    padding-bottom: 2rem;
}

@media (max-width:769px){
    #CardContainer img{
        margin-top: 1rem;
        width: 100%;
    }
    #CardContainer{
        margin: 0rem 0rem;
        padding-top: 2rem;
    }
}