.FooterContainer p{
    color: white;
}
.FooterContainer{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.FooterContainer>div{
    margin-bottom: 2rem;
}
