.FooterContainer p {
  color: white;
}
.FooterContainer {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.FooterContainer > div {
  margin-bottom: 2rem;
}
.footerPara {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  color: white;
}
.footerPara i {
  padding: 0 5px;
  font-size: 30px;
  color: #9aa966;
}
.footerPara b {
  padding: 0 3px;
}
.MSLFooterLogoContainer {
  width: 100%;
  text-align: center;
}
.MSLFooterLogoContainer img {
  width: 40%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.copyrightText {
  border-top: 1px solid #e0e0e0;
  border-top-width: 1px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin: 0px 20px;
}
.footerLinksContainer{
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 769px) {
  .footerLinksContainer {
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 576px) {
  .footerPara {
    align-items: center;
  }
  .footerPara i {
    font-size: 30px;
    padding: 4px 2px;
  }
}
