.documentsSection {
  background-color: white;
  position: relative;
  z-index: 5555;
  padding: 2rem 4rem;
  background-image: url("/images/4940019.jpg");
  background-attachment: fixed;
}
.companyList ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.companyList ul li {
  margin: 10px 0;
  cursor: pointer;
  list-style: none;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.387);
  padding: 10px;
}
.companyList ul li:hover {
  color: #9aa966;
}

.companyList {
  position: sticky;
  top: 40%;
}

.documentsSection {
  background-color: white;
  position: relative;
  z-index: 5555;
  padding: 2rem 4rem;
}

.documentListContainer {
  display: flex;
  flex-direction: column;
}

.documentGrid {
  display: flex;
  gap: 20px;
  width: 100%;
}

.documentCard {
  display: flex;
  min-height: 130px;
  flex-direction: column;
  padding: 20px 15px;
  background-color: whitesmoke;
  /* background-color: whitesmoke; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  transition: 0.5s;
}
.documentCard p {
  margin: 0;
  padding-top: 10px;
}
.documentCard:hover {
  border: 1px solid black;
  background-color: white;
  transition: 0.5s;
}
.documentCard:hover p {
  color: #9aa966;
}
.documentCard img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}
.InvestorHeadingContainer {
  margin: 1rem 0;
  font-size: 1.5rem;
}
@media (max-width: 999px) {
  .documentCard {
    padding: 15px;
  }
  .documentCard img {
    width: 35px;
  }
}
@media (max-width: 769px) {
  .companyList ul {
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    gap: 10px;
  }

  .documentGrid {
    gap: 15px;
  }
  .documentCard {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .documentsSection {
    padding: 2rem 1rem;
  }
  .documentCard {
    min-height: 10vh;
    padding: 10px 0;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .documentsSection {
    background-attachment: local;
    /* Adjust for iOS Safari */
  }
}
