@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
:root {
  font-family: "Satoshi", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Satoshi", sans-serif;
  transition: 0.5s;
}

p,
a {
  text-decoration: none;
  color: inherit;
  line-height: 25px;
  font-family: "Satoshi", sans-serif;
}

li {
  font-family: "Satoshi", sans-serif;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  color: black;
}
b {
  font-weight: 600;
}
@keyframes fadeIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.sectionPadding {
  padding: 3rem 2rem;
}

@media (max-width: 769px) {
  .sectionPadding {
    padding: 3rem 0.5rem;
  }
}

p {
  margin-bottom: 0;
  font-family: "Satoshi", sans-serif;
  font-size: 17px;
}

button {
  font-family: "Satoshi", sans-serif;
}

.MSLCommonBtn {
  background-color: #9aa924;
  color: black;
  padding: 10px 40px;
  border: none;
  margin: 10px 20px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.MSLCommonBtn:hover {
  border-radius: 10px;
  transition: 0.5s;
}

.sectionHeading h2 span {
  font-size: 30px;
  color: #9aa924;
}

.sectionHeading h2 {
  padding: 10px 20px;
}

.sectionHeading h2::first-letter {
  color: #9aa924;
}

.MainTitle {
  font-size: 30px;
}
