.LeftContentContainer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* padding: 1rem 0rem !important; */
}

.LeftContentContainer h2::first-letter {
  /* color: #ffcc00; */
  color: #9aa966;

}
.LeftContentContainer h2{
  font-size: 40px;
}


.SwiperImageContainer {
  height: 100%;
  width: 100%;
}

.swiper {
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0px !important;
}

.mySwiper img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.mySwiper .swiper-slide {
  width: 100% !important;
  height: 100% !important;
  padding: 0px;
  opacity: 1 !important;
}

.TitleForSlider {
  /* position: absolute; */
  color: black;
  bottom: 40px;
  font-weight: 500;
  font-size: 30px;
}

.infoBtn {
  /* position: absolute; */
  bottom: 5px;
  /* background-color: #ffcc00; */
  background-color: #144b24;
  border: black;
  color: #9aa966;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.infoBtn:hover {
  /* position: absolute; */
  bottom: 5px;
  background-color: #9aa924 !important;
  border: black !important;
  padding: 10px 20px;
  color: black !important;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.2);
}

.ContentContainer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* backdrop-filter: blur(10px); */
  background-color: transparent;
  height: 100px;
  align-items: center;
}

.OfficeAdressContainer {
  background-color: #144b24;
  /* background-color: #DD9936; */
  color: white;
}

.MittalAdressContainer .LogosImages {
  width: 150px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.MittalAdressContainer {
  /* border-top: 1px solid #ffcc00; */
  padding-top: 50px;
  position: relative;
  /* margin: 0px 40px; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

/* .row-container {
    width: 100%;
    border-bottom: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.row-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}

.row-left,
.row-right {
    z-index: 1;
}

.row-content .top-shape {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 150px;
    height: 80px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
    transform: translateX(-50%);
    transition: left 1s ease-out;
    z-index: 0;
}

.row-content:hover .top-shape {
    position: absolute;
    opacity: 1;
    top: 0;
    width: 150px;
    height: 10px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
    transform: translateX(-50%);
    transition: left 1s ease-out;
    z-index: 0;
} */

.MittalAdressContainer hr {
  margin: 0px;
  width: 0px;
  opacity: 0;
  border: 1px solid transparent;
  position: absolute;
  bottom: -2px;
  transition: 1s;
  border-radius: 20px;
  background-color: black;
}

.MittalAdressContainer:hover hr {
  margin: 0px;
  width: 70%;
  opacity: 1;
  border: 1px solid #000000;
  background-color: black;
  transition: 1s;
  border-radius: 20px;
}

.AddressAdjustContainer {
  display: flex;
}

#StickyColumn {
  position: sticky;
  top: 10%;
}
.AnimatedStackCards{
  padding: 2rem 0rem;
}


@media (max-width: 769px) {

  #StickyColumn {
    position: static;
    top: 10%;
  }

  .MapContainer {
    margin-top: 50px;
  }

  .AddressAdjustContainer {
    display: flex;
    flex-direction: column;
  }

  .MittalAdressContainer:hover hr {
    margin: 0px;
    width: 100%;
    opacity: 1;
    border: 2px solid #000000;
    background-color: black;
    transition: 1s;
    border-radius: 20px;
  }

  .swiper {
    position: static !important;
    height: 50vh !important;
    width: 100% !important;
    padding: 0px !important;
  }

  .LeftContentContainer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 2rem 0rem !important;
  }

  .MittalAdressContainer {
    /* border-top: 1px solid #ffcc00; */
    padding-top: 50px;
    position: relative;
    /* margin: 0px 40px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* flex-direction: column; */
  }

  .MittalAdressContainer>div {
    width: 100%;
    margin: auto;
  }
}

.AnimatedStackCard {
  /* height: 30vh; */
  background-color: red;
  width: 100%;
  margin: 10px;
}

.AnimatedstackCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AnimatedStackCard {
  width: 80%;
  /* padding: 20px; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* Adjust card styling */
}

.AnimatedStackCard img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 8px;
}

.AnimatedStackCard h3 {
  margin: 15px 0 10px;
}

.AnimatedStackCard p {
  margin: 0;
}

.StackContainer {
  position: sticky;
  top: 30%;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 100% ; */
}

.StackContainer h2::first-letter {
  color: #9aa924;
}
.StackContainer h2{
  font-size: 40px ;
}
.ContentContainerCard {
  padding: 20px;
}

.ContentContainerCard h2 {
  font-weight: 400;
  text-align: center;
}

@media (max-width: 769px) {
  .AnimatedStackCard {
    width: 100%;
    /* padding: 20px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    /* Adjust card styling */
  }
  .StackContainer {
    position: sticky;
    top: 30%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
    /* height: 100% ; */
  }
}

.AccordionImageContainer {
  width: 100%;
  /* height: 100%; */
}

.AccordionImageContainer img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: contain;
}

.fadeIn {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.accordionListItem {
  padding: 15px 0px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.156);
}

.accordionListItem .description {
  padding: 5px 0;
  font-weight: 400;
  transition: opacity 2s ease, max-height 2s ease;
}

.accordionListItem i {
  font-size: 1.4rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer span {
  color: black;
  font-weight: 600;
}

.AccordionImageContainer {
  opacity: 1;
  text-align: center;
}

.AccordionImageContainer.fadeIn {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.AboutUsContainer {
  padding: 2rem 2rem;
}

.LeftContentContainer {
  padding-right: 2rem;
}